body {
    font-family: 'Roboto';
    padding: 1em;
    display: flex;
    justify-content: center;
    line-height: 1,6;
    padding-bottom: 50px;
}
#wrapper{
    width: 100%;
    max-width: 1000px;
    
}
#content{
    display: flex;
}
h1 {
    font-size: 36pt;

}
h2 {
    font-size: 28px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
h2::after{
    content: "";
    display: block;
    width: 32px;
    padding-top: 6px;
    border-bottom: 4px solid black;
}
#subtitle{
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#left{
    width: 230px;
    border-right: 1px solid gray;
    padding-right: 40px;
}
.section{
    padding-top: 30px;
    text-align: justify;
}
.section h2, h3{
    margin-bottom: 15px;
}
h3{
    line-height: 1.7;

    margin-top: 10px;
}
.section p{
    color: gray;
}
#right{
    padding-left: 5%;
}
#right .section{
    width: 100%;
}

#city{
    color: gray;
}


.fake-slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 12px; /* Specified height */
    background: #afafaf; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    
  }

.fake-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: black;
    cursor: pointer;
  }




img{
    position: absolute;
    height: 10px;
    width: 250px;
}
.black{
    position: relative;
    height: 10px;
    margin-bottom: 4px;

}
#s1{
    width: 10%;
}
#s2{
    width: 20%;
}
#s3{
    width: 30%;
}
#s4{
    width: 40%;
}
#s5{
    width: 50%;
}
#s6{
    width: 60%;
}
#s7{
    width: 70%;
}
#s8{
    width: 80%;
}
#s9{
    width: 90%;
}
#s10{
    width: 100%;
}

@media print {
html, body{
    padding: 0;
    height: 90%;
}
}
